body{
    overflow-x: hidden; /* Hide horizontal scrollbar */
}
#container
{
    display: flex;
    align-items: center;
   
}
#log-container img
{
    width: 50px;
    height: auto;
    margin-right: 10px;
}
#visitor-count
{
    
    padding: 5px 10px;
    border-radius: 15px;
}
#visitor-count
{
    background-color: rgb(110, 214, 240);;
    color:rgb(255, 255, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#visitor-count:hover
{
    background-color: rgb(150, 223, 241);
    color: rgb(255, 247, 247);
    font-family:Arial, Helvetica, sans-serif;
}
/* search bar css */
.btn
{
    background-color: #000000;
    color:white;
}
.btn:hover
{
    background-color: rgb(153, 153, 153);
    color: rgb(255, 255, 255);
}

/* Responsive media queries */
@media (max-width: 768px) {
    #visitor-count {
        padding: 2vh 3vw; /* Adjust as needed */
        border-radius: 3vw; /* Adjust as needed */
    }

    .btn {
        padding: 2vh 3vw; /* Adjust as needed */
    }
}

/* Add more media queries as needed for different screen sizes */

  /* close */